@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --font-primary: "Afacad Flux", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

* {
  margin: 0%;
  border: 0%;
  box-sizing: border-box;
}
body {
  font-family: var(--font-roboto);
  background-color: #000000;
}

.App {
  text-align: center;

  background: linear-gradient(90deg, #c19a7b, #eaece9);
}

.navbar {
  font-family: --font-primary;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(0, 0, 0);
}

h1 {
  font-family: --font-primary;
  font-size: 3rem;
  color: black;
  text-align: center;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

h2 {
  font-family: --font-secondary;
  font-size: 1rem;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.search {
  display: block;
  margin: 10px auto;
  padding: 20px 30px;
  color: rgb(0, 0, 0);
  width: 80%;
  max-width: 600px;
  font-family: var(--font-secondary);
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: normal;
  border: 2px solid #000000;
  border-radius: 0.4rem;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search:hover {
  border-color: rgba(0, 0, 0, 0.5); /* Darken border on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
  transform: scale(1.05);
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  margin: 10px auto;
}

.button-17:hover {
  border-color: rgba(0, 0, 0, 0.5); /* Darken border on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
  transform: scale(1.05);
}

.lyrics {
  margin: 20px;
  font-size: 20px; /* Font size */
  font-family: "Georgia", serif; /* A classic, elegant font for lyrics */
  line-height: 1.5; /* Improved readability */
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start from 20px down */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.lyrics.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}
